<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Programowanie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Programowanie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Programowanie.Properties.Settings>
            <setting name="Close" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollClicks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MouseCPS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MouseClicks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollCPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyboardClicks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeyboardCPS" serializeAs="String">
                <value>True</value>
            </setting>
        </Programowanie.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Programowanie.Properties.Settings>
            <setting name="Close" serializeAs="String">
                <value>False</value>
            </setting>
        </Programowanie.Properties.Settings>
    </applicationSettings>
</configuration>